<h1><%= @baby.name %>の記録</h1>

<% @records.each do |record| %>
  <div>
    <p>Milk: <%= record.milk %></p>
    <p>Omutsu: <%= record.omutsu.join(', ') %></p>
    <p>Body Temperature: <%= record.body_temperature %></p>
    <p>Memo: <%= record.memo %></p>
    <p>Created At: <%= record.created_at %></p>
  </div>
<% end %>