 <h1>新しい記録</h1>

<%= form_with(model: @record, url: baby_records_path(@baby), method: :post) do |form| %>
  <div class="field">
    <%= form.label :milk, "ミルクの量" %><br>
    <%= form.select :milk, (0..200).step(10), { prompt: '- - - -' }, class: 'milk' %>cc
  </div><br>

  おむつ交換（複数選択可）<br>
  <div class="field" style="display: inline-block;">
    <%= form.check_box :oshikko %>
    <%= form.label :oshikko, "おしっこ" %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.check_box :unchi %>
    <%= form.label :unchi, "うんち" %>
  </div>

  <div class="field" style="display: inline-block;">
    <%= form.check_box :geri %>
    <%= form.label :geri, "げり" %>
  </div><br><br>

  <div class="field">
    <%= form.label :body_temperature, "体温" %><br>
    <%= form.text_field :body_temperature, size: 10, class: 'temperature' %>度
  </div><br>

  <div class="field">
    <%= form.label :memo, "メモ" %><br>
    <%= form.text_area :memo, rows: 3, cols: 30, class: 'memo' %>
  </div><br>

  <div class="actions">
    <%= form.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>